<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infrastructure.portal.mapper.config.UserTitleConfigMapper">
  <resultMap id="BaseResultMap" type="com.infrastructure.portal.entity.po.config.UserTitleConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title_name, description, create_time, update_time
  </sql>
 
  <select id="selectByPage" parameterType="com.infrastructure.portal.entity.po.config.UserTitleConfig" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from user_title_config
    <where>
    	<if test="titleName != null">
    		and title_name like '%${titleName}%'
    	</if>
    </where>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_title_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteUserTitleConfigById" parameterType="java.lang.Integer">
    delete from user_title_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.infrastructure.portal.entity.po.config.UserTitleConfig">
    insert into user_title_config (id, title_name, description, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{titleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="addUserTitleConfig" parameterType="com.infrastructure.portal.entity.po.config.UserTitleConfig">
    insert into user_title_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="titleName != null">
        title_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="modifyUserTitleConfig" parameterType="com.infrastructure.portal.entity.po.config.UserTitleConfig">
    update user_title_config
    <set>
      <if test="titleName != null">
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.infrastructure.portal.entity.po.config.UserTitleConfig">
    update user_title_config
    set title_name = #{titleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>