<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infrastructure.portal.mapper.common.SysconfigMapper">
  <resultMap id="BaseResultMap" type="com.infrastructure.portal.entity.po.common.Sysconfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="servercode" jdbcType="VARCHAR" property="servercode" />
    <result column="ckey" jdbcType="VARCHAR" property="ckey" />
    <result column="cvalue" jdbcType="VARCHAR" property="cvalue" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, servercode, ckey, cvalue, remarks, createtime, updatetime
  </sql>
  
  <select id="listSysconfig" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	ckey,cvalue 
  	from sysconfig 
  	where servercode='com'
  	<if test="servercode != null">
  		or servercode = #{servercode}
  	</if>
  </select>
  
  <select id="getSysconfigByCkey" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	cvalue 
  	from sysconfig 
  	where servercode='com' AND ckey=#{ckey}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sysconfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sysconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.infrastructure.portal.entity.po.common.Sysconfig">
    insert into sysconfig (id, servercode, ckey, 
      cvalue, remarks, createtime, 
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{servercode,jdbcType=VARCHAR}, #{ckey,jdbcType=VARCHAR}, 
      #{cvalue,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.infrastructure.portal.entity.po.common.Sysconfig">
    insert into sysconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="servercode != null">
        servercode,
      </if>
      <if test="ckey != null">
        ckey,
      </if>
      <if test="cvalue != null">
        cvalue,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="servercode != null">
        #{servercode,jdbcType=VARCHAR},
      </if>
      <if test="ckey != null">
        #{ckey,jdbcType=VARCHAR},
      </if>
      <if test="cvalue != null">
        #{cvalue,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.infrastructure.portal.entity.po.common.Sysconfig">
    update sysconfig
    <set>
      <if test="servercode != null">
        servercode = #{servercode,jdbcType=VARCHAR},
      </if>
      <if test="ckey != null">
        ckey = #{ckey,jdbcType=VARCHAR},
      </if>
      <if test="cvalue != null">
        cvalue = #{cvalue,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.infrastructure.portal.entity.po.common.Sysconfig">
    update sysconfig
    set servercode = #{servercode,jdbcType=VARCHAR},
      ckey = #{ckey,jdbcType=VARCHAR},
      cvalue = #{cvalue,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>