<#assign shiro=JspTaglibs["/WEB-INF/tlds/shiro.tld"]/>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>主页 - 基建项目管理系统</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<#include "/common/common_css.html">
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="${ctx}/static/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="${ctx}/static/assets/css/font-awesome.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="${ctx}/static/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="${ctx}/static/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="${ctx}/static/assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="${ctx}/static/assets/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="${ctx}/static/assets/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="${ctx}/static/assets/js/html5shiv.js"></script>
		<script src="${ctx}/static/assets/js/respond.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin" style="overflow:-Scroll;overflow-y:hidden">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="#" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							基建项目管理系统
						</small>
					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>

				<!-- #section:basics/navbar.dropdown -->
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-tasks"></i>
								<span class="badge badge-grey" id="UnfinishProjectCount"></span>
							</a>

							<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-check"></i>
									<span id="projectWarn"></span>
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar" id="projectlist">
									
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="${ctx}/project/show_project_list" target="iframe_content">
										查看项目列表
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
								<span class="badge badge-success" id="UnreadMessageCount"></span>
							</a>

							<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-envelope-o"></i>
									<span id="messageWarn"></span>
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar" id="messagelist">
									
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="${ctx}//message/show_message_list?type=0" target="iframe_content">
										查看所有接收的消息
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<!-- #section:basics/navbar.user_menu -->
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="${ctx}/static/assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>欢迎,</small>
									${loginInfo.userName}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="${ctx}/portal_user/user_info" target="iframe_content">
										<i class="ace-icon fa fa-user"></i>
										个人信息
									</a>
								</li>

								<li>
									<a href="${ctx}/portal_user/modify_passwd" target="iframe_content">
										<i class="ace-icon fa fa-cog"></i>
										重设密码
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="${ctx}/logout">
										<i class="ace-icon fa fa-power-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>

						<!-- /section:basics/navbar.user_menu -->
					</ul>
				</div>

				<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar                  responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
				
				<ul class="nav nav-list" id="navlist">
					<li class="active">
						<a href="${ctx}/home" target="iframe_content">
							<i class="menu-icon ace-icon glyphicon glyphicon-home"></i>
							<span class="menu-text"> 主页 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<@shiro.hasPermission name="portal:project:manage">
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> 项目管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<@shiro.hasPermission name="portal:project:add">
							<li class="" id="level2">
								<a href="${ctx}/project/add_project" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									添加项目
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:project:list">
							<li class="" id="level2">
								<a href="${ctx}/project/show_project_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									项目列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:project:list">
							<li class="" id="level2">
								<a href="${ctx}/document/show_document_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									文档列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:work:list">
							<li class="" id="level2">
								<a href="${ctx}/work/show_work_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									我的工作
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
						</ul>
					</li>
					</@shiro.hasPermission>

					<@shiro.hasPermission name="portal:user:manage">
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon glyphicon glyphicon-user"></i>
							<span class="menu-text"> 用户管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<@shiro.hasPermission name="portal:user:add">
							<li class="" id="level2">
								<a href="${ctx}/portal_user/add_user" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									新增用户
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>

							<@shiro.hasPermission name="portal:user:list">
							<li class="" id="level2">
								<a href="${ctx}/portal_user/show_user_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									用户列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
						</ul>
					</li>
					</@shiro.hasPermission>

					<@shiro.hasPermission name="portal:authority:manage">
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon fa fa-key"></i>
							<span class="menu-text"> 权限管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<@shiro.hasPermission name="portal:role:list">
							<li class="" id="level2">
								<a href="${ctx}/portal_role/show_role_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									角色列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:function:list">
							<li class="" id="level2">
								<a href="${ctx}/portal_function/show_function_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									功能权限列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
						</ul>
					</li>
					</@shiro.hasPermission>

					<@shiro.hasPermission name="portal:config:manage">
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon fa fa-cog"></i>
							<span class="menu-text"> 基础配置管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<@shiro.hasPermission name="portal:config:process">
						    <li class="" id="level2">
								<a href="${ctx}/process_config/show_config_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									项目流程配置
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:config:type">
							<li class="" id="level2">
								<a href="${ctx}/project_type_config/show_config_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									项目类别配置
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:config:title">
							<li class="" id="level2">
								<a href="${ctx}/user_title_config/show_config_list" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									用户职称配置
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>

						</ul>
					</li>
					</@shiro.hasPermission>

					<@shiro.hasPermission name="portal:message:manage">
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon fa fa-envelope-o"></i>
							<span class="menu-text"> 站内信 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
						    <@shiro.hasPermission name="portal:message:send">
						    <li class="" id="level2">
								<a href="${ctx}/message/sendMessage" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									发送信息
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>

							<@shiro.hasPermission name="portal:message:sendlist">
							<li class="" id="level2">
								<a href="${ctx}/message/show_message_list?type=1" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									已发送列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
							
							<@shiro.hasPermission name="portal:message:receivelist">
							<li class="" id="level2">
								<a href="${ctx}/message/show_message_list?type=0" target="iframe_content">
									<i class="menu-icon fa fa-caret-right"></i>
									接收列表
								</a>

								<b class="arrow"></b>
							</li>
							</@shiro.hasPermission>
						</ul>
					</li>
					</@shiro.hasPermission>
				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>
			
			<div class="main-content">
				<iframe width="100%" height="100%" frameborder="0" scrolling="auto"
					style="margin: 0px; padding: 0px;" src="${ctx}/home"
					id="iframe_content" name="iframe_content">
				</iframe>
			</div>
			<!-- /.main-content -->
			
			<!-- <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a> -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='${ctx}/static/assets/js/jquery.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='${ctx}/static/assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='${ctx}/static/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="${ctx}/static/assets/js/bootstrap.js"></script>

		

		<!--[if lte IE 8]>
		  <script src="${ctx}/static/assets/js/excanvas.js"></script>
		<![endif]-->
		<script src="${ctx}/static/assets/js/jquery-ui.custom.js"></script>
		<script src="${ctx}/static/assets/js/jquery.ui.touch-punch.js"></script>
		<script src="${ctx}/static/assets/js/jquery.easypiechart.js"></script>
		<script src="${ctx}/static/assets/js/jquery.sparkline.js"></script>
		<script src="${ctx}/static/assets/js/flot/jquery.flot.js"></script>
		<script src="${ctx}/static/assets/js/flot/jquery.flot.pie.js"></script>
		<script src="${ctx}/static/assets/js/flot/jquery.flot.resize.js"></script>

		<!-- ace scripts -->
		<script src="${ctx}/static/assets/js/ace/elements.scroller.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.colorpicker.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.fileinput.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.typeahead.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.wysiwyg.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.spinner.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.treeview.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.wizard.js"></script>
		<script src="${ctx}/static/assets/js/ace/elements.aside.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.ajax-content.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.touch-drag.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.sidebar.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.sidebar-scroll-1.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.submenu-hover.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.widget-box.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.settings.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.settings-rtl.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.settings-skin.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.widget-on-reload.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.searchbox-autocomplete.js"></script>

		<!-- inline scripts related to this page -->
		

		<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		<link rel="stylesheet" href="${ctx}/static/assets/css/ace.onpage-help.css" />
		<link rel="stylesheet" href="${ctx}/static/docs/assets/js/themes/sunburst.css" />

		<script type="text/javascript"> ace.vars['base'] = '${ctx}/static'; </script>
		<script src="${ctx}/static/assets/js/ace/elements.onpage-help.js"></script>
		<script src="${ctx}/static/assets/js/ace/ace.onpage-help.js"></script>
		<script src="${ctx}/static/docs/assets/js/rainbow.js"></script>
		<script src="${ctx}/static/docs/assets/js/language/generic.js"></script>
		<script src="${ctx}/static/docs/assets/js/language/html.js"></script>
		<script src="${ctx}/static/docs/assets/js/language/css.js"></script>
		<script src="${ctx}/static/docs/assets/js/language/javascript.js"></script>
		
		<script type="text/javascript">
			$(function() {
				var height = $(document).height() - 60;
				$(".main-content").height(height + 'px');
				$("#iframe_content").height(height + 'px');
				$("#navlist #level2 a").click(function() {
					$("#navlist li").removeClass("active");
					$("#navlist #level2").removeClass("active");
					$(this).parent().addClass("active");
					$(this).parent().parent().parent().addClass("active");
				});
				
				$.ajax({
		             type: "GET",
		             url: "${ctx}/message/show_unread_message_list",
		             data: "",
		             dataType: "json",
		             success: function(data){
				         $("#UnreadMessageCount").html(data.data.messageCount);
				         $("#messageWarn").html(data.data.messageCount+"条未读信息");
		            	 var unreadMessageList = $.parseJSON(data.data.unreadMessageList);
				         var liContent="";
				         //alert(unreadMessageList.length);
				         liContent="";
		            	 for(var i=0; i<unreadMessageList.length; i++){
			            	liContent ='<li><a href="${ctx}/message/show_message_info?id='+ unreadMessageList[i].id+'" target="iframe_content" class="clearfix"><img src="${ctx}/static/assets/avatars/avatar.png" class="msg-photo" alt="Jim\'s Avatar" /><span class="msg-body"><span class="msg-title"><span class="blue">'+ unreadMessageList[i].sender_account+':</span>'+unreadMessageList[i].message_title+'</span><span class="msg-time"><i class="ace-icon fa fa-clock-o"></i><span>'+unreadMessageList[i].send_time+'</span></span></span></a></li>';
							//liContent ='<li><a href="#" class="clearfix">xxxxxx</a></li>';
							//alert(liContent);
			            	$("#messagelist").append(liContent);
		            	 }
		             }
		         });
				$.ajax({
		             type: "GET",
		             url: "${ctx}/project/show_unfinish_project_list",
		             data: "",
		             dataType: "json",
		             success: function(data){
				         $("#UnfinishProjectCount").html(data.data.projectCount);
				         $("#projectWarn").html(data.data.projectCount+"个项目待完成");
		            	 var unfinishProjectList = $.parseJSON(data.data.unfinishProjectList);
				         var liContent="";
				         //alert(unreadMessageList.length);
				         liContent="";
		            	 for(var i=0; i<unfinishProjectList.length; i++){
			            	liContent = '<li><a href="${ctx}/project/view_project?projectId='+unfinishProjectList[i].id+'" target="iframe_content"><div class="clearfix"><span class="pull-left">'+unfinishProjectList[i].project_name+'</span><span class="pull-right">'+unfinishProjectList[i].process_percent+'%</span></div>'
			            	+ '<div class="progress progress-mini"><div style="width:'+unfinishProjectList[i].processPercent+'%" class="progress-bar"></div></div></a></li>';
							//liContent ='<li><a href="#" class="clearfix">xxxxxx</a></li>';
							//alert(liContent);
			            	$("#projectlist").append(liContent);
		            	 }
		             }
		         });
				
			});
		</script>
	</body>
</html>
