<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infrastructure.portal.mapper.project.ProjectTypeMapper">
  <resultMap id="BaseResultMap" type="com.infrastructure.portal.entity.po.project.ProjectType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, type_name, description, create_time, update_time
  </sql>
  
  <select id="selectByPage" parameterType="com.infrastructure.portal.entity.po.project.ProjectType" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from project_type
    <where>
    	<if test="typeName != null">
    		and type_name like '%${typeName}%'
    	</if>
    </where>
  </select>
  
  <select id="queryProjectTypeList" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from project_type
    order by type_name
  </select>
  
  <select id="queryProjectTypeNameList" resultMap="BaseResultMap">
  	SELECT type_name 
  	from project_type
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteProjectTypeConfigById" parameterType="java.lang.Integer">
    delete from project_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.infrastructure.portal.entity.po.project.ProjectType">
    insert into project_type (id, type_name, description, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="addProjectTypeConfig" parameterType="com.infrastructure.portal.entity.po.project.ProjectType">
    insert into project_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="modifyProjectTypeConfig" parameterType="com.infrastructure.portal.entity.po.project.ProjectType">
    update project_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.infrastructure.portal.entity.po.project.ProjectType">
    update project_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>